<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="form_first_number">
    Multiply this:
  </label>
  <input id="form_first_number" name="first_num" text="text">

  <label for="form_second_number">
    by this:
  </label>
  <input type="text" id="form_second_number" name="second_num">

  <button>
    Multiply!
  </button>
</form>
